<a href="https://colab.research.google.com/github/shovitraj/AllQuantumStuff/blob/main/1_Working_With_Text.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Working With Text

# Working with Text

In [ ]:
# from google.colab import drive

# drive.mount('/content/drive')

In [ ]:
# PATH = '/content/drive/MyDrive/NLPWorkShopANPAOct2021/'

### Text data is growing fast!

* Data continues to grow exponentially
** Estimated to be 2.5 Exabytes(2.5 Million TB) a 
** Grow to 40 Zetabytes (40 billion TB) by 2020 (50 times of 2021)

* Approximately 80% of all the data is estimated to be unstructured, text-rich data


**

### So, what can be done with text?

* Parse text
* Find/Identify/Extract relevant information from the text
* Classify text documents
* Search for relevant text documents
* Sentiment analysis
* Topic modeling
* ***

# Natural Language Processing

* Any computation, manipulation of natural language

## Natural Language Involves

* new words get added
* old words lose popularity
* meaning of words change
* language rules themselves may change

## NLP Tasks:

* Counting words, counting frequency of words
* Finding sentence boundaries
* Part of speech tagging
* Parsing the sentence structure
* Identifying semantic role
* Identifying entities in a sentence
* Finding which pronoun rerers to which entity

In [ ]:
text1 = "Ethics are built right into the ideals and objectives of the United Nations "

# The length of text1

In [ ]:
# Return a list of the words in text2, separating by ' '.

### List comprehension allows us to find specific words:

In [ ]:
# Words that are greater than 3 letters long in text2

In [ ]:
 # Capitalized words in text2

In [ ]:
text3 = 'To be or not to be'

In [ ]:
# .lower converts the string to lowercase.

In [ ]:
text5 = '"Ethics are built right into the ideals and objectives of the United Nations" \
#UNSG @ NY Society for Ethical Culture bit.ly/2guVelr'

# NLP Basics: Learning how to use regular expressions(REGEX)

### Using regular expressions in Python

Python's `re` package is the most commonly used regex resource. More details can be found [here](https://docs.python.org/3/library/re.html).

We can use regular expressions to help us with more complex parsing.

For example '@[A-Za-z0-9_]+' will return all words that:

* start with '@' and are followed by at least one:
* capital letter ('A-Z')
* lowercase letter ('a-z')
* number ('0-9')
* or underscore ('_')

![Meta Characters](https://drive.google.com/uc?id=1mPwKJUQI0KsZ7h3T7wCWQDxRmYbb1M0f)

![MetaSymbols](https://drive.google.com/uc?id=1amUCUTF_C6YM08iXIPm35yFdWajLdEdx)

![MetaRepetitions](https://drive.google.com/uc?id=13CSdKKBOXNKTQXoutG0PUMaX0DwFXwBW)

In [ ]:

text7 = '@UN @UN_Women "Ethics are built right into the ideals and objectives of the United Nations" \
#UNSG @ NY Society for Ethical Culture bit.ly/2guVelr'

In [ ]:

import re

In [ ]:

re_test = 'This is a made up string to test 2 different regex methods'
re_test_messy = 'This      is a made up     string to test 2    different regex methods'
re_test_messy1 = 'This-is-a-made/up.string*to>>>>test----2""""""different~regex-methods'

### Splitting a sentence into a list of words

### Replacing a specific string

In [ ]:
pep8_test = 'I try to follow PEP8 guidelines'
pep7_test = 'I try to follow PEP7 guidelines'
peep8_test = 'I try to follow 8PEEP8 guidelines'

In [ ]:
re.findall('[a-z]+', pep8_test)

['try', 'to', 'follow', 'guidelines']

In [ ]:
re.findall('[A-Z]+[0-9]+', peep8_test)

['PEEP8']

In [ ]:
re.findall('[0-9]+[A-Z]+[0-9]+', peep8_test)

['8PEEP8']

In [ ]:
re.sub('[A-Z]+[0-9]+', 'PEP8 Python Styleguide', peep8_test)

'I try to follow 8PEP8 Python Styleguide guidelines'

### Other examples of regex methods

- re.search()
- re.match()
- re.fullmatch()
- re.finditer()
- re.escape()

In [ ]:
texts = ["(800)-800-1111 call for free goodies",
         "(800) 800-1111 call for free goodies",
         "8008001111 call for free goodies",
         "800-800-1111 call for free goodies",
        ]

In [ ]:
for text in texts:
  phones = re.findall('\(\d{3}\D{0,3}\d{3}\D{0,3}\d{4}', text)
  print(text, phones)

(800)-800-1111 call for free goodies ['(800)-800-1111']
(800) 800-1111 call for free goodies ['(800) 800-1111']
8008001111 call for free goodies []
800-800-1111 call for free goodies []

In [ ]:
for text in texts:
  phone_regex = re.compile(r"(?:\+ *)?\d[\d\- ]{7,}\d")
  phone = phone_regex.findall(text)
  print(text, phone)

(800)-800-1111 call for free goodies []
(800) 800-1111 call for free goodies []
8008001111 call for free goodies ['8008001111']
800-800-1111 call for free goodies ['800-800-1111']

# Working with Text Data in pandas

In [ ]:
import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [ ]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
tweet = "@nltk Text analysis is awesome! #regex #pandas #python"

print([word for word in tweet.split() if word.startswith('#')])

['#regex', '#pandas', '#python']

In [ ]:
# find the number of characters for each string in df['text']

In [ ]:
df.head()

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [ ]:
import string
#punctuation percent

In [ ]:
# find the number of tokens for each string in df['text']

In [ ]:

# find which entries contain the word 'appointment'

In [ ]:
# find how many times a digit occurs in each string

In [ ]:

# find all occurances of the digits

In [ ]:
# replace weekdays with '???'

In [ ]:
# replace weekdays with 3 letter abbrevations

In [ ]:
# create new columns from first match of extracted groups

In [ ]:
# extract the entire time, the hours, the minutes, and the period

In [ ]:
# extract the entire time, the hours, the minutes, and the period with group names